*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
    background: linear-gradient(to right, white, #cce1fa);
            
           
}
header{
    display: inline-flex;
    width: 100%;
    
}
hr{
    margin-top: 2vw;
}
a{
    text-decoration: none;
    color: #000000;
}
button{
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: #000000;
    padding: 2vw;
    border-radius: 15px;
}
.shap_1{
    width: 50%;
    
}
.shap_1 img{
    width: 50%;
}
.kontakt{
    width: 50%;

}
.kontakt *{
    display: flex;
    margin-left: auto;
    margin-right: 1vw;
}
.menu_st{
    margin-top: 3vw;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.menu_st *{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.blok_1{
    margin-top: 10vw;
}
.blok_1_zg{
    display: flex;
    margin-bottom: 3vw;
    margin-left: 2vw;
}
.blok_1_sp{
    display: flex;
    width: 100%;
    align-items: center ;
    margin-left: auto;
    margin-right: auto  ;
}
.blok_1_sp_1{
    background-color: #ffffffd4;
    
    z-index: 999;
    position: absolute;
    display: inline-block;
    align-items: center ;
    margin-left: 5vw;
    margin-right: auto  ;
    border: #000000;
    border-radius: 25% 10%;
   

    
}
.blok_1_sp_1 *{
    padding-top: 7vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.blok_1_sp :last-child{
    padding-bottom: 7vh;
}
.blok_1_sp_2{
    z-index: 1;
    display: flex;
     align-items: center ;
    margin-left: auto;
    margin-right: auto  ;   
}
.blok_1_sp_2 img{
    width: 90%;
}

.blok_2{
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vw;
    min-height: 100vh;
}
.blok_2_nm{
    text-align: center;
    font-weight: bold;    
}
.blok_2_zg{
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 5vw;
}
.blok_2 .nm{
    margin-bottom: 2vw;
    width: 100%;
    display: flex;

}
.nm p{
    margin-left: auto;
    margin-right: 0;
}
.blok_2_1{
    padding: 2vw;
    width: 60%;
    background-color: #ebffef;
    border-radius: 15px;
    margin-bottom: 2vw;
}
.blok_2_2{
    margin-left: auto;
    margin-right: 0;
    padding: 2vw;
    width: 60%;
    color: #ffffff;
    background-color: #000000;
    border-radius: 15px;
    margin-bottom: 2vw;
}
.blok_2_3{
    padding: 2vw;
    width: 60%;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 2vw;
}
.blok_2_4{
    margin-left: auto;
    margin-right: 0;
    padding: 2vw;
    width: 60%;
    background-color: #f7def5;
    border-radius: 15px;
}

.blok_3{
    margin-top: 20vw;
    min-height: 100vh;
}
.blok_3_nm{
    margin-left: 10vw;
}
.blok_3_zg{
    font-weight: bold; 
    text-align: center;
    margin-top: 5vw;
}
.blok_3_tg{
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 4vw;

}
.blok_3_ln{
    display: inline-flex;
    align-items: center;
}
.ln_1{
    background-color: #DEEAF9;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 15px;
    padding: 2vw;
    margin-left: 3vw;
    cursor: pointer;
}
.ln_2{
    background-color: #F9F9F9;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 15px;
    padding: 2vw;
    cursor: pointer;
}
.ln_3{
    background-color: #C3DEFF;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 15px;
    padding: 2vw;
    margin-right: 3vw;
    cursor: pointer;
}
.ln_b_1{
    text-align: center;
    margin-bottom: 2vw;
}
.ln_b_2{
    margin-bottom: 1vw;
}
.ln_b_3 *{
    margin-top: 1vw;
}
.blok_3 button{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Жесткое выравнивание высоты */
.blok_3_ln {
    
    align-items: stretch; /* Ключевое свойство! */
    gap: 3vw;
}

.ln_1, .ln_2, .ln_3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Создаем контейнер для контента */
.ln_1 > *, .ln_2 > *, .ln_3 > * {
    flex-shrink: 0; /* Не сжимается */
}

/* Средний блок растягивается */
.ln_b_2 {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden; /* Обрезает лишний текст если нужно */
}
.blok_4{
    min-height: 100vh;
    align-items: center;
}
.blok_4_1{
    background-color: #f6d8f3;
    border-radius: 15px;
    padding: 2vw;
    margin-left: 3vw;
    
}
.blok_4_2{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2vw;
}
.blok_4_3{
    background-color: #ebffef;
    border-radius: 15px;
    padding: 2vw;
    margin-right: 3vw;
}
.blok_4_batton{
    margin-top: 3vw;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.blok_5{
    
    min-height: 100vh;
    align-items: center;
    width: 100%;
}
.blok_5_1{
    background-color: #c4dcfa;
    border-radius: 15px;
    padding: 2vw;
    margin-left: 3vw;
    margin-right: auto;
   
}
.blok_5_2{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2vw;
    margin-right: 3vw;
    margin-left: auto;
   
}
.blok_5_ln{
    margin-top: 5vw;
    display: inline-flex;
    width: 100%;
}
.blok_5_ln *{
    width: 40vw;
}
.blok_6_nm{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.blok_6_txt{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    width: 80%;
    justify-content: center;
    text-align: center;
}
.prod{
    display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center; 
}
.prod_info{
    padding-top: 10vh;
    flex: 1 1 300px; /* Базовый размер 300px, но может сжиматься/растягиваться */
            max-width: 400px; /* Максимальная ширина блока */
            min-width: 200px; /* Минимальная ширина блока */
            
            padding: 20px;
            border-radius: 8px;
            box-sizing: border-box;
    justify-content: center;
    display: flex;
}
.prod_info img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.blok_6 button{
    display: flex;
    margin-top: 10vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}